<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.xiaobao.community.mappers.QuesstionMapper">

    <insert id="create">
        INSERT INTO
          (title,description,gmt_create,gmt_modified,creator,tag)
          VALUES (#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{tag})

    </insert>
</mapper>










